* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    }

body {
    background-color: rgb(11, 16, 36);
    
}
.contenedor {
    margin-top: 350px;
}

    .dlog {
        height: 250px;
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .ABA {
        font-size: 46px;
        font-weight: bold;
        color: rgb(18, 18, 18);
        font-family: 'Times New Roman', Times, serif;
    }
    
    .links i {
        font-size: 3rem;
    }
    
    .links i:hover{
        color: white;
    }

.over1 {
    height: 827.5px;
    margin-top: -630px;
    width: 1903px;
}

.menu {
    margin-top: -480px;
    margin-left: 100px;
    font-size: 20px;
    
}

.menu:hover{
}

.over2 {
    height: 700px;
}

.oover{
    margin-left: -200px;
    margin-top: -600px;
}

.contact:hover{
opacity: .5;
}

.menuuno {
   transition: all 0.5s ease;
   
}

.menuuno:hover {
    background-color: rgb(11, 16, 36);
    padding: 10px;
    border-radius: 50px;
    color: white;
}

.SCROL {
    height: 100px;
}