* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    }

body {
    background-color: rgb(0, 59, 187);
    
}
.contenedor {
    margin-top: 350px;
}

    .dlog {
        height: 250px;
    }

    .icons {
        margin-top: 100px;
        width: 600px;
        
      }

      .DEX {
        font-size: 40px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        margin-top: -300px;
        margin-left: 600px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    .desc1 {
        font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-left: 600px;
    width: 500px;
    }

    .boton1 {
        transition: all 0.7s ease;
        font-size: 20px;
        font-weight: bold;
        color: white;
        cursor: pointer;
        border: 0;
        padding: 10px 20px;
        background: #262626;
        margin-left: 600px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 10px;
    }
    
    .boton1:hover {
        background: white;
        color: black;
        border-radius: 50px;
    }

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .ABA {
        font-size: 46px;
        font-weight: bold;
        color: rgb(18, 18, 18);
        font-family: 'Times New Roman', Times, serif;
    }

    .social {
        margin: 50px;
        color: white;
        margin-top: -100px;
    }
    
    .social p {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .links a {
        transition: all 0.7s ease;
        margin: 0 30px;
    
    }
    
    .links i {
        font-size: 3rem;
        color: white;
    }
    
    .links i:hover{
        color: rgb(0, 119, 255);
        transition: all 0.5s ease;
    }
    
    .insta i:hover{
        color: rgb(255, 53, 87);
    }
   .txt {
    text-align: center;
    background-color: #262626;
    width: 500px;
    height: 500px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 110px;
    margin-left: 100px;
    border-radius: 50px;
    opacity: .5;
   }

#cuadro {
    display: none;
    
}

.boton2 {
    transition: all 0.7s ease;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: #262626;
    margin-top: 50px;
    margin-left: 290px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boton2:hover {
    background: white;
    color: black;
}

.over1 {
    height: 827.5px;
    margin-top: -500px;
    width: 1903px;
}

.menu {
    margin-top: -620px;
    margin-left: 100px;
    font-size: 20px;
    
}

.menu:hover{
}

.over2 {
    height: 700px;
}

.oover{
    margin-left: -200px;
    margin-top: -600px;
}

.contact:hover{
opacity: .5;
}

.menuuno {
   transition: all 0.5s ease;
   
}

.menuuno:hover {
    background-color: rgb(11, 16, 36);
    padding: 10px;
    border-radius: 50px;
    color: white;
}

.SCROL {
    height: 100px;
}


